.script_editor_base {
  padding-bottom: 120px;
}
.export_modal .content {
  background: #8080804d !important;
}
.export_json {
  white-space: pre-wrap;
  font-family: monospace;
  width: 100%;
  overflow: hidden;
}