.app__category-object-list {

  ul {
    .__item {
      border: 1px solid gainsboro;
      border-bottom: none;
    }
    li:last-child .__item {
      border: 1px solid gainsboro;
    }
    li {
      display: block;
    }
  }

  .__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 5px 5px 15px;


    .__title {
      text-align: left;
      flex-grow: 1;
    }

    &.marked, &.hover-marked:hover {
      background-color: rgba(135, 205, 249, 0.34);
    }

    .__actions {

      .ui.buttons {
        background-color: white;
      }
    }
  }

}