.page__UserListing {
  .__listing {
    max-width: 400px;
    margin: 0 auto;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    padding: 5px 10px;
  }
}
.page__UserSingle {
  max-width: 600px;
  margin: 0 auto;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  padding: 5px 10px;
}